{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth/update_password.css') }}">
{% endblock %}

{% block main_title %}
<h2>Cambio de Contraseña</h2>
{% endblock %}

{% with message = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashed">
            {% for category, message in messages %}
            <li class="flash {{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% block content %}
<form class="update-form" method="post">
    <label for="current_password">Contraseña Actual</label>
    <input type="password" name="current_password" id="current_password" required><br>

    <label for="new_password">Nueva Contraseña</label>
    <input type="password" name="new_password" id="new_password" required><br>

    <label for="confirm_password">Confirmar Contraseña</label>
    <input type="password" name="confirm_password" id="confirm_password" required><br>

    <input type="submit" value="Actualizar"><br>
    <li><a href="{{ url_for('route.index') }}">Inicio</a></li>
</form>
{% endblock %}
