body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e3e8e4;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-nav{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-item a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.Sobre_Mi {
    background-color: #fff;
    padding: 40px;
    margin: 40px auto;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.1);
    transition: transform 0.3s ease;
}

.Sobre_Mi:hover {
    transform: translate(-10px);
}

.Sobre_Mi .box_sobre_mi {
    padding: 20px;
}

.Sobre_Mi .title {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
}

.Sobre_Mi p {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 10px;
}

.Sobre_Mi h2 {
    font-size: 28px;
    margin-top: 30px;
    color: #333;
    text-align: center;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
}

.Sobre_Mi ul {
    list-style: none;
    padding: 0;
}

.Sobre_Mi ul li {
    font-size: 18px;
    margin-bottom: 15px;
    color: #555;
    position: relative;
    padding-left: 20px;
}

.Sobre_Mi ul li::before {
    content: '✔';
    position: absolute;
    left: 0;
    color: #4CAF50;
    font-size: 18px;
}