{% extends "base.html"%}

{% block title %}Pagina de Inicio {% endblock %}

{% block content %}
<nav class="navbar">
    <div class="navbar-brand">Mi Portafolio</div>
    <ul class="navbar-nav">
        <li class="nav-item"><a href="{{ url_for('inicio') }}">Inicio</a></li>
        <li class="nav-item"><a href="{{ url_for('Sobre_Mi')}}">Sobre Mi</a></li>
        <li class="nav-item"><a href="#">Proyectos</a></li>
        <li class="nav-item"><a href="#">Contacto</a></li>
    </ul>
</nav>

<section class="Sobre_Mi">
    <div class="box_sobre_mi">
        <h1 class="title">Sobre Mi</h1>
        <p>¡Hola! Soy Eguis Suarez, especialista en tecnologías de la información con más de 5 años de experiencia, autodidacta en diversas áreas del sector. Me enfoco en aumentar la productividad y fomentar el crecimiento del conocimiento, siempre buscando optimizar procesos y proporcionar resultados tangibles. </p>
        
        <p>Mi objetivo principal es ofrecer soluciones simples y efectivas a los desafíos diarios en el ámbito de las nuevas tecnologías.</p>
        
        <h2>Habilidades</h2>
        <ul>
            <li><strong>Generalizacion de imagen de Windows:</strong>Desarrollo para la creacion de imagenes y su documentacion </li>
            <li><strong>Soporte Nivel 2:</strong> Apoyo al area de Soporte Terreno - Nivel 2</li>
            <li><strong>Capacitaciones y Reforzamientos:</strong> Capacitacion a tecnicos previa asisistencia al cliente y Reforzamientos de conocimiento a tecnicos ya capacitados que presentan problemas</li>
            <li><strong>Control de Versiones:</strong> Familiarizado con Git y GitHub para el control de versiones y la colaboración en proyectos.</li>
            <li><strong>Automatizacion de Tareas:</strong> Desarrollo de Scripts en Powershell para automatizar tareas repetitivas.</li>
        </ul>
    </div>
 
</section>
{% endblock %}

